<div class="w3-container w3-padding-large">
    <!-- Intestazione -->
    <div class="w3-row w3-margin-bottom">
        <div class="w3-col s12">
            <h2 class="w3-text-blue-grey" style="font-weight: bold; text-transform: uppercase;">
                <i class="fa fa-calendar-check-o"></i> Arrivi di Oggi 
            </h2>
        </div>
    </div>

    <!-- Stato vuoto -->
    @if (bookings().length === 0) {
        <div class="w3-panel w3-pale-yellow w3-leftbar w3-border-yellow w3-padding-16">
            <p><i class="fa fa-info-circle"></i> Nessun arrivo previsto per oggi.</p>
        </div>
    }

    <!-- Lista Arrivi -->
    @for (booking of bookings(); track booking.id) {
        <!-- bookingView.render(booking)-->
        <app-booking-row [booking]="booking"></app-booking-row>
    }
</div>
