.card-row {
  border-left: 6px solid #c0392b;
  background-color: #fdf6f0;
}

.avatar {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0 auto;
  background-color: #c0392b;
  color: white;
}

.guest-name {
  font-weight: bold;
  text-transform: uppercase;
  color: #3e2723;
}

.booking-details-border {
  border-color: #e8ddd5 !important;
}
